.sectionComentario {
    background-color: #495E57;
    transform: translate(0px, -900px);
    height: 700px;
}

.subtitulo {
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    text-align: center;
    padding-top: 5rem;
}

.flex {
    display: flex;
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: space-around;
    padding-top: 3rem;
}

.comentarios {
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
}