.sectionComentario {
    background-color: #495E57;
    transform: translate(0px, -900px);
    height: 700px;
}

.subtitulo {
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    text-align: center;
    padding-top: 5rem;
}

.flex {
    display: flex;
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: space-around;
    padding-top: 3rem;
    padding: 530px;
    transform: translate(0px, -500px);
}

.comentarios {
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.listaEstrelas {
    padding-top: 15px;
    padding-left: 1.5rem;
}

.imgEstrela {
    width: 25px;
    padding-left: 1.2rem;
}

.review {
    font-size: 25px;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.Subreview {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 2rem;

}