.sectionComentario {
    background-color: #495E57;
    transform: translate(0px, -900px);
    height: 700px;
}

.subtitulo {
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
    text-align: center;
    padding-top: 5rem;
}