.Header {
    display: flex;
    padding-left: 20rem;
    /* Alinha tudo pelo topo por padrão */
    align-items: flex-start;
}

.listaHeader {
    display: flex;
    gap: 50px;
    padding-left: 20rem;
    list-style: none;
    margin-top: 2rem;

}