.mainPrincipal {
    background-color: #495E57;
    margin-top: 5rem;
    height: 353.38px;
    display: flex;
    padding-left: 25rem;
    gap: 500px;
}

.pMainConteudoPrinciapal {
    color: yellow;
    font-size: 50px;
    font-family: Markazi Text;
    padding-top: 1rem;
}

.pMainConteudoSecundario {
    color: #fff;
    font-family: Markazi Text;
    font-size: 30px;
    padding-bottom: 1.5rem;
}

.pMainConteudoTerciario {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-bottom: 1.5rem;
}

.imgMainPrincipal {
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-top: -50px;
    transition: 2s;
}

.imgMainPrincipal:hover {
    width: 550px;
    height: 550px;
    transition: 2s;
}



.btnMain {
    background: none;
    border: none;
    background-color: yellow;
    color: #000;
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    height: 40px;
    font-size: 17px;
}

.btnMain:hover {
    cursor: pointer;
}