.mainPrincipal {
    background-color: #495E57;
    margin-top: 5rem;
    height: 353.38px;
    display: flex;
    padding-left: 25rem;
    gap: 200px;
}

.pMainConteudoPrinciapal {
    color: yellow;
    font-size: 50px;
    font-family: Markazi Text;
    padding-top: 1rem;
}

.pMainConteudoSecundario {
    color: #fff;
    font-family: Markazi Text;
    font-size: 30px;
    padding-bottom: 1.5rem;
}

.imgMainPrincipal {
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-top: -50px;
}