.mainPrincipal {
    background-color: #495E57;
    margin-top: 5rem;
    height: 353.38px;
}

.pMainConteudoPrinciapal {
    color: yellow;
    font-size: 40px;
    font-family: Markazi Text;
}

.pMainConteudoSecundario {
    color: #fff;
    font-family: Markazi Text;
    font-size: 25px;
}