.mainPrincipal {
    background-color: #495E57;
    margin-top: 5rem;
    height: 353.38px;
    display: flex;
    padding-left: 25rem;
    gap: 200px;
}

.pMainConteudoPrinciapal {
    color: yellow;
    font-size: 40px;
    font-family: Markazi Text;
}

.pMainConteudoSecundario {
    color: #fff;
    font-family: Markazi Text;
    font-size: 25px;
}

.imgMainPrincipal {
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-top: -50px;
}