.sectionPratosButton {
    background: none;
    border: none;
    background-color: #F4CE14;
    color: #333333;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.divButton {
    padding-left: 95rem;
    transform: translate(0px, 140px);
}

.subTitulo {
    color: #252525;
    font-size: 50px;
    font-weight: bold;
    padding-left: 25rem;
    padding-top: 10rem;
}


/*--------------------------------------------------------------------------------*/


.flexbox {
    padding-top: 5rem;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    justify-content: space-around;
    transform: translate(-30px, -500px);
    padding: 560px;
}



.flexbox img {
    width: 350px;
}

.flexbox div {
    background-color: #c0c0c0;
    width: 350px;
    /* Aumentado de 250px para 400px */
    margin: 15px;
    border-radius: 10px;
    height: 500px;
}